html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:verdana;
    background-color: lightblue;

}



.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 4em;
}
/*
 * Styles for the Score Panel
 */

.score {
    width: 90%;
    margin-bottom: 10px;
    font-size: 1em;
}

.score .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    margin-left: 40px;
}

.score .stars li {
    list-style: none;
    display: inline-block;

}

.score .restart {
    float: right;
    cursor: pointer;

}

/*
 * Styles for the structure of cards
 */

#structure {
    width: 95%;
    height: 300px;
    background-color:#28788e;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 #276069;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

#structure .card {
    width: 21%;
    height: 21%;
    background: #36b5f4;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 #2e3d49;
    transition-property: transform;
    transition-duration: 800ms;
}

#structure .card.open {
    transform: rotateY(180deg);
    background: #1d6275;
    cursor: default;
}

#structure .card.show {
    font-size: 33px;
}

#structure .card.match {
    cursor: default;
    background: #040c21;
    font-size: 33px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    overflow: auto;
    background-color: lightblue;
    height: 100%;
    width: 100%;
}
.win {
    text-align: center;
    margin-top: 10%;  
}
.wonwords1 {
    font-size: 2em;
    font-weight: bold;    
}
.wonwords2 {
    font-size: 3vh;
    margin: 3px;
    font-weight: bold;

}
.startButton {
    font-size: 4vw;
    font-weight: bold;
}
.finallogo img {
    width: 21vw;
    height: 21vh;
    margin: auto;
}

.btn {
        width: 3em;
    height: 2em;
    margin-top: 15px;
    border-radius: 50%;
    background-color: #000000;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    color: floralwhite;
}



.shake {   
    animation: shake 1.0s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  50% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #structure {
          height: 330px;

        }
         h1 {
            font-size: 2em;
                margin-bottom: 5px;margin-top: 10px;
        }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        #structure {
            height: 450px;
            width: 85%;        
        }
        .score {
            width: 85%;
            font-size: 1em;

        }
         h1 {
            font-size: 3em;
                margin-bottom: 5px;margin-top: 10px;

        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        #structure {
            width: 70%;
    height: 500px;       
        }

        .score {
            width: 70%;
font-size: 1.1em;
        }
         h1 {
            font-size: 3em;
                margin-bottom: 5px;margin-top: 10px;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        #structure {
                width: 55%;
    height: 500px;       
        }
        .score {
            width: 55%;
font-size: 1.1em;
        }
         h1 {
            font-size: 3em;
                margin-bottom: 5px;margin-top: 10px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        #structure {
                  height: 500px;
    width: 45%;
        }
        .score {
            width: 45%;
font-size: 1.1em;
        }
         h1 {
                margin-bottom: 5px;
            font-size: 3em;margin-top: 10px;
        }
    }
    